<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container opacity" style="background-color: rgb(233, 233, 232);">

        <h3>Frequently Asked Questions </h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" style="cursor: pointer;">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    data-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                    <div class="panel-heading p-3 mb-3 " role="tab" id="heading0">
                        <h3 class="panel-title">

                            What is Bill Payment System

                        </h3>
                    </div>
                </a>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>Bill Payment System (BPS) is a Reserve Bank of India (RBI) conceptualised system
                            driven
                            by
                            National Payments Corporation of India (NPCI) that offers interoperable and
                            accessible
                            bill payment service to consumers via digital
                            (bank channels) as well as through a network of agents & bank branches</p>

                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="cursor: pointer;">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <div class="panel-heading p-3 mb-3 opacity" role="tab" id="heading1">
                        <h3 class="panel-title">

                            What are the different payment modes in BPS?

                        </h3>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>BPS covers repetitive payments for everyday utility services such as electricity,
                            water,
                            gas,
                            telecom (mobile postpaid, landline postpaid, broadband) and Direct-to-Home (DTH).
                            Gradually, the scope would be expanded to include other types of repetitive payments
                            like insurance
                            premium, mutual funds, school fees, EMI"s, municipal taxes etc.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="cursor: pointer;">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <div class="panel-heading p-3 mb-3 opacity" role="tab" id="heading2">
                        <h3 class="panel-title">

                            What are the different payment channels in BPS?

                        </h3>
                    </div>
                </a>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>BPS transaction can be initiated through multiple payment channels
                            both digital channels like Internet, Internet banking, Mobile, Mobile banking, POS
                            (Point of Sale terminal), MPOS (Mobile Point of Sale terminal),
                            KIOSK, and offline channels like ATM, Bank Branch, Agents and Business
                            Correspondents.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="cursor: pointer;">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    <div class="panel-heading p-3 mb-3 opacity" role="tab" id="heading3">
                        <h3 class="panel-title">

                            How can I raise a complaint?

                        </h3>
                    </div>
                </a>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>A customer can raise a complaint directly from any bank application/BPS Website.
                            There
                            could be two type of complaints a. Transaction based complaint:
                            This type of complaint is raised by a customer either for a successful / pending /
                            failed transaction. The customer can initiate a complaint
                            either at an agent outlet/ bank-channel or the BPS website. Mobile No. or
                            Transaction ID
                            will be used as a unique reference number for raising
                            complaints. b. Service based complaint: This type of complaint is raised by a
                            customer
                            for non-transactional issues Transaction based complaints will undergo validation at
                            CU
                            and biller OU levels</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>